<% include ./partials/_header %>

        <div class="cabecera text-center">
            <h1>Práctica de NodeJS básico, Express y MongoDB</h1>
        </div>
        <div class="container text-center">
            <img alt="index image" src="images/index.jpeg">
        </div>
        <div class="container">
            <p>En esta práctica nos introducimos en el manejo del servidor con NodeJS y el framework Express y usando el gestor de BD MongoDB</p>
            <p>Para más información sobre la práctica y uso de la API (ver. 1.0), se recomienda la lectura del documento <a href="https://github.com/Santi72Alc/practicaNodeJSBasico/blob/master/README.md">README.md</a></p>
            <p>Para probar algunos ejemplos... <a href="/crud">aquí</a></p>
        </div>
    
<% include ./partials/_footer %>
