<% include ./partials/_header %>

        <div class="cabecera text-center">
            <h1>Práctica de NodeJS básico, Express y MongoDB</h1>
        </div>
        <div class="container">
            <p>En esta práctica nos introducimos en el manejo del servidor con NodeJS y el framework Express y usando el gestor de BD MongoDB</p>
            <h2>Acceder al mantenimiento de la BD shop<a href="./info"> pulse aquí</a></h2>
        </div>
    
<% include ./partials/_footer %>
